{% extends "learning_logs/base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center" style="color: #660000;">Авторизоваться</h2>
  
  <div class="mt-4">
    {% if form.errors %}
      <div class="alert alert-danger text-center">
        Ваше имя пользователя и пароль не совпали. Пожалуйста, попробуйте еще раз.
      </div>
    {% endif %}
    
    <form method="post" action="{% url 'users:login' %}" class="mx-auto" style="max-width: 400px;">
      {% csrf_token %}
      
      <div class="form-group text-center">
		<label for="{{ form.username.id_for_label }}" class="font-weight-bold" style="color: #660000;">Username</label>
		{{ form.username }}
		{% if form.username.errors %}
		  <div class="text-danger">
			{{ form.username.errors }}
		  </div>
		{% endif %}
	</div>
	
	<div class="form-group text-center">
		<label for="{{ form.password.id_for_label }}" class="font-weight-bold" style="color: #660000;">
			Password</label>
		{{ form.password }}
		{% if form.password.errors %}
		  <div class="text-danger">
			{{ form.password.errors }}
		  </div>
		{% endif %}
	</div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block" style="background-color: #660000;border-color: #660000;">Авторизоваться</button>
      </div>
      
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
  </div>
</div>
{% endblock content %}
