{% extends "learning_logs/base.html" %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center" style="color: #660000;">Зарегистрироваться</h2>
  
  <div class="mt-4">
    <form method="post" action="{% url 'users:register' %}" class="mx-auto" style="max-width: 400px;">
      {% csrf_token %}
      
    <div class="form-group text-center">
        <input type="text" name="username" class="form-control" placeholder="Enter your username">
        {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group text-center">
        <input type="password" name="password1" class="form-control" placeholder="Enter your password">
        {% if form.password1.errors %}
            <div class="text-danger">{{ form.password1.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group text-center">
        <input type="password" name="password2" class="form-control" placeholder="Confirm your password">
        {% if form.password2.errors %}
            <div class="text-danger">{{ form.password2.errors }}</div>
        {% endif %}
    </div>
    

      <div class="text-center">
        <button type="submit" class="btn btn-primary" style="background-color: #660000;border-color: #660000;">Зарегистрироваться</button>
      </div>
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
  </div>
</div>
{% endblock content %}
